<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>

    <div class="container">
    <br>
    <h1>BIENVENUE ! </h1>
    <h2> Psst .. c'est la page des malversations !</h2>
    <br>
    </div>

    <div class="container">
    <br>
    <h2> user/login !</h2>
    <br>
    </div>


</html>