<html>
  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
    <p>BIENVENUE !</p>
    <p>Voici l'index du potin n°<%= id %></p>
    <p>Son titre est le suivant : <%= all_gossips[id].title %></p>
    <p>Son titre est le suivant : <%= all_gossips[id].content %></p>
  </body>

</html>