<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
  <div class= "container">
      <br>
      <h1>C'est la page team !</h1>
      <br>
      <h3>Tu veux voir les responsables de ce site honteux ?</h3>
      <br>
    </div> 
  </body>
</html>