<html>  

  <head>
    <title>The Gossip Project</title>
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/custom.css">
  </head>
  <body>
    <div class= "container">
      <br>
      <h1>C'est la page contact, mamène !</h1>
      <br>
    </div>
  </body>
</html>